<ion-header>
  <ion-toolbar>
    <ion-back-button text="" slot="start">
    </ion-back-button>Verfiying your Number
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-title>
    <p>Requirements</p>
  </ion-title>
    <ion-list>
    <ion-item>
    1. You can only verify a phone number you own.
    </ion-item>
    <ion-item>
     2. You must be able to receive phone calls and SMS to the phone number you are trying to verify.
    </ion-item>
    <ion-item>
     3.You must have a working Internet connection through mobile data or WiFi.
    </ion-item>
  </ion-list>
  <ion-title>
    <p>How to Verify</p>
  </ion-title>
    <ion-list>
    <ion-item>
    1. Enter your phone number in the box on the right. Don't put any 0 before your phone number.
    </ion-item>
    <ion-item>
     2. Tap Next to request a code.
    </ion-item>
    <ion-item>
    3. Enter the 6-digit code you receive via SMS.  
    </ion-item>
  </ion-list>
  <div class="digit">
    <ion-list>
    <ion-item>
      If you didn't receive the 6-digit code by SMS
    </ion-item>
    <ion-item>
     1. Wait for the progress bar to finish and retry. 
     2.The wait may take up to 10 minutes.
    </ion-item>
  </ion-list>
  </div>
</ion-content>

