<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>business</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item detail routerLink="/info">
    <ion-icon name="document-outline" slot="start"></ion-icon>
    <ion-label>company info</ion-label>
  </ion-item>
  <ion-item detail routerLink="/opening">
    <ion-icon name="time-outline" slot="start"></ion-icon>
    <ion-label>Opening hours</ion-label>
  </ion-item>
  <ion-item detail routerLink="/members">
    <ion-icon name="people-outline" slot="start"></ion-icon>
    <ion-label>Staff Members</ion-label>
  </ion-item>
  <!-- <ion-item detail routerLink="/service">
    <ion-icon name="cut-outline" slot="start"></ion-icon>
    <ion-label>Services</ion-label>
  </ion-item> -->
  <ion-item detail routerLink="/categories">
    <ion-icon name="sparkles-outline" slot="start"></ion-icon>
    <ion-label>Categories</ion-label>
  </ion-item>
  <ion-item detail routerLink="/photos">
    <ion-icon name="images-outline" slot="start"></ion-icon>
    <ion-label>Workplace photos</ion-label>
  </ion-item>

</ion-content>
