<ion-header>
  <!--<ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="backgroundImage">
  <!-- <p>Welcome back login to your account</p> -->
  <!-- <img  src="assets/beauty.jpg" alt="beauty-logo"> -->
  <br>
  <div class="phonenumber">
    <!-- <ion-item> -->
      <!-- <ion-select okText="Okay" cancelText="Dismiss">
        <ion-select-option value="+351">+351</ion-select-option>
        <ion-select-option value="+91">+91</ion-select-option>
      </ion-select> -->
      <ion-input class="form-control" *ngIf="!otpsend" type="number" [(ngModel)]="user.Phone" placeholder="Enter Phone number"> 
      </ion-input>
      <ion-input class="form-control" *ngIf="otpsend" type="string" [(ngModel)]="otp" placeholder="Enter the OTP"> 
      </ion-input>
    <!-- </ion-item>  -->
  </div>

    <div id="recaptcha-container" class="ion-padding-top" style="display: none;">
    </div>
          <br>
      <div>
      <!-- <ion-item color="tertiary"> -->
        <ion-button *ngIf="otpsend" (click)="verifyotp()">verifyotp</ion-button>
        <ion-button *ngIf="!otpsend" (click)="Otp()">Send OTP</ion-button>
        <!-- </ion-item> -->
      </div>  

</ion-content>
