<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<ion-item>
    <ion-label>latitude : {{latitude}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>longitude : {{longitude}}</ion-label>
  </ion-item>-->
  
  <ion-item>
    <ion-label>address : </ion-label>
    <ion-textarea placeholder="Enter your details" [(ngModel)]="address"></ion-textarea>
  </ion-item>

   <ion-item>
     <ion-button (click)="logout()">save</ion-button>
   </ion-item>

</ion-content>
