<ion-content>
  <div class="container">
    <div class="overylay">
      <ion-avatar>
        <img src="../../../assets/avatar.png">
      </ion-avatar>
    </div>
  </div>
<ion-list>
  <div class="setting">
    <ion-item >
<ion-label routerLink="/myprofile"><ion-icon ></ion-icon>Profile</ion-label></ion-item>
<div class="setting1">
<ion-item >
<ion-label routerLink="/help"><ion-icon ></ion-icon>Help</ion-label>
</ion-item></div>
<div class="setting2">
  <ion-item>
  <ion-label routerLink="/faq">Frequently Asked Questions?</ion-label>
</ion-item></div>
<div class="setting4">
  <ion-item>
<ion-label routerLink="/language">Language Settings</ion-label>
</ion-item>
</div>
<div class="setting3">
  <ion-item>
<ion-label routerLink="/privacy">Privacy Policy</ion-label>
</ion-item></div>
</div>
</ion-list>
</ion-content>
